@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Lora");
body, .caption {
  margin: 1em; }

body, h1, h2 {
  text-align: center; }

img {
  width: 250px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center; }

h1, h2 {
  margin: 0.5em; }

#intro_card, #justice_card, #prediction_card, #cities_card, #other_card {
  display: inline-block;
  border: 0.1em solid;
  padding: 0.5em;
  -webkit-box-shadow: 0.2em 0.2em 0.2em 0.2em #2b2b2b;
  box-shadow: 0.2em 0.2em 0.2em 0.2em #2b2b2b;
  display: inline-block;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

#intro_card {
  background-color: #e6e6e6;
  width: 75%; }

#justice_card {
  background-color: #d8eaf3; }

#prediction_card {
  background-color: #f9d2df; }

#cities_card {
  background-color: #f9dfd2; }

#other_card {
  background-color: #fce5e8; }

:root {
  --normal-font-size: 1em;
  --font-size-step: 1.25;
  --header-font-size: calc(var(--normal-font-size) * 2 * var(--font-size-step));
  --caption-font-size: calc(var(--normal-font-size) / var(--font-size-step)); }

h2, nav {
  font-family: 'Lora', serif; }

p, figcaption {
  font-family: 'Source Sans Pro', sans-serif; }

h2 {
  font-size: var(--header-font-size); }

p, nav {
  font-size: var(--normal-font-size); }

figcaption {
  font-size: var(--caption-font-size); }

@media (hover: none) and (pointer: coarse) {
  h2, nav, p, figcaption {
    font-size: --normal-font-size; } }
