
%card {
  display: inline-block;
  border: 0.1em solid;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em 0.2em $black;
  display: inline-block;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

#intro_card {
  @extend %card;
  background-color: lighten($neutral-gray, 40%);
  width: 75%;
}

#justice_card {
	@extend %card;
	background-color: lighten($primary-color, 40%);
}

#prediction_card {
	@extend %card;
	background-color: lighten($analogous-color, 40%);
}

#cities_card {
	@extend %card;
	background-color: lighten($complementary-color, 40%);
}

#other_card {
	@extend %card;
	background-color: lighten($complementary-analogous, 40%);
}