.card {
	display: inline-block;
  border: 0.1em solid;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em 0.2em $black;
  background-color: lighten($neutral-gray, 40%);
  display: inline-block;
  width: 800px;
}