// do a sans-sarif and a sarif together
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lora');

:root {
	--normal-font-size: 1em;
	--font-size-step: 1.25;
	--header-font-size: calc(var(--normal-font-size) * 2 * var(--font-size-step));
	--caption-font-size: calc(var(--normal-font-size) / var(--font-size-step));
	
}

h2, nav {
	font-family: 'Lora', serif;
}

p, figcaption {
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	font-size: var(--header-font-size);
}
p, nav {
	font-size: var(--normal-font-size);
}

figcaption {
	font-size: var(--caption-font-size);
}

// smartphones and touchphones get a standard font-size
@media (hover: none) and (pointer: coarse) {
	h2, nav, p, figcaption {
	font-size: --normal-font-size;
		}
}